<article id="education">

  <h2 class="titulo-educacion">{{tituloEducacion}}</h2>

  <div class="education-block">
    <h5>Nombre Institución: {{nombreInstitucion}}</h5>
    <ul>
      <li>Nombre programa: {{nombrePrograma}}</li>
      <li>Fecha inicio: <time>{{fechaInicio}}</time> - Fecha fin: <time>{{fechaFin}}</time></li>
      <li>Título obtenido: {{nombreTituloObtenido}}</li>
    </ul>
  </div>

  <div class="education-block">
    <h5>Escuela Media N°11 América Libre</h5>
    <ul>
      <li>Título Secundario</li>
      <li>2005-2007</li>
      <li>Orientación y Gestión de las
        Empresas</li>
    </ul>
  </div>

  
</article>
<!--ACA FINALIZA CUARTO COMPONENTE EXPERIENCIA-->
<!--
  <article>
      <a href="https://developer.mozilla.org/es/docs/
Web/HTML/Element/ol">Enlace a 
la<strong>descripción</strong>de<em>MDN</
em>para listas ordenadas</a>
  </article>
  -->
