<article id="projects">
  <h2 id="titulo-eduacion">Proyectos</h2>
  <div 
    id="carouselExampleIndicators" 
    class="carousel slide" 
    data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button 
        type="button" 
        data-bs-target="#carouselExampleIndicators" 
        data-bs-slide-to="0" 
        class="active"
        aria-current="true" 
        aria-label="Slide 1"
      ></button>

      <button 
        type="button" 
        data-bs-target="#carouselExampleIndicators" 
        data-bs-slide-to="1" 
        aria-label="Slide 2"
      ></button>

      <button 
        type="button" 
        data-bs-target="#carouselExampleIndicators" 
        data-bs-slide-to="2" 
        aria-label="Slide 3"
      ></button>

    </div>



    <div class="carousel-inner">
      <!--PRIMER CAROUSEL-->
      <div class="carousel-item active">
        <!--PRIMER PROYECTO-->
        <div class="education-block">
          <!--
          <div class="imagen-Humaaans">
            <img src="imagenes/fotoBarberia.png" alt="imagen de humano" width="40%" height="30%" id="imagen-alura">
          </div>
          -->
          <h5 class="titulo-del-proyecto">{{nombreProyecto}}</h5>
          <p id="parrafo-barberia">{{descripcion}}</p>
          <br>
          <nav>
            <a href="https://m-1985-web.github.io/barberiaAlura/" class="session">Ver Sitio Web</a>
          </nav>
          <nav>
            <a href="https://www.youtube.com/watch?v=w-j30k-0qIQ&list=PLu8dsQ3vYJVRcnVJOBFd2gfS7vfHeKEDh" class="session">Ver Video en YouTube</a>
          </nav>
        </div>
      </div>





      <!--SEGUNDO CAROUSEL-->
      <div class="carousel-item">
        <!--SEGUNDO PROYECTO-->
        <div class="education-block">
          <!--
          <div class="imagen-Humaaans">
            <img src="imagenes/fotoEncriptadorText.png" alt="imagen de humano" width="40%" height="30%" id="imagen-alura">
          </div>
          -->
          <h5 class="titulo-del-proyecto">Proyecto "Encriptador de Texto"</h5>
          <p id="parrafo-barberia">
            Les presento la finalización del Desafío challenge Oracle ONE - Lógica de Programación -Encriptador de Texto. Aplicación que encripta textos, para poder intercambiar mensajes secretos con otras personas que sepan el secreto de la encriptación utilizada.
          </p>
          <nav>
            <a href="https://m-1985-web.github.io/encriptadorDeTexto/" class="session">Ver página web</a>
          </nav>
          <nav>
            <a href="https://www.youtube.com/watch?v=bsnw1fzMApo&list=PLu8dsQ3vYJVRcnVJOBFd2gfS7vfHeKEDh&index=2" class="session">Ver Video en YouTube</a>
          </nav>
        </div>
      </div>
      <!--CAROUSEL TERCERO TARJETA
      <div class="carousel-item">
        <div class="education-block">
          <div class="card" style="width: 42rem;">
            <img src="imagenes/fotoEncriptadorText.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Encriptador/Desemcriptador de Texto</h5>
              <p class="card-text">
                Les presento la
                finalización del
                Desafío challenge
                Oracle ONE -
                Lógica de
                Programación -
                Encriptador de
                Texto.
                Aplicación que
                encripta textos,
                para poder
                intercambiar
                mensajes secretos
                con otras
                personas que
                sepan el secreto
                de la
                encriptación
                utilizada.
              </p>
              <br>
              <a href="https://m-1985-web.github.io/encriptadorDeTexto/" class="btn btn-primary">Ver Encriptador
                de Texto</a>
              <br>
              <br>
              <a 
                href="https://www.youtube.com/watch?v=bsnw1fzMApo&list=PLu8dsQ3vYJVRcnVJOBFd2gfS7vfHeKEDh&index=2" class="btn btn-primary"
              >Ver Video en YouTube del proyecto</a>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
    <button 
      class="carousel-control-prev" 
      type="button" 
      data-bs-target="#carouselExampleIndicators" 
      data-bs-slide="prev"
      id="carousel-color">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previus</span>
    </button>
    <button 
      class="carousel-control-next" 
      type="button" 
      data-bs-target="#carouselExampleIndicators" 
      data-bs-slide="next"
      id="carousel-color">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</article>
