<div class="input-group">
  <button 
    class="btn btn-outline-danger dropdown-toggle" 
    type="button" 
    data-bs-toggle="dropdown" aria-expanded="false"
  >Despliegue menu</button>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#about">Sobre mi</a></li>
    <li><a class="dropdown-item" href="#experience">Experiencia</a></li>
    <li><a class="dropdown-item" href="#education">Educacion</a></li>
    <li><a class="dropdown-item" href="#projects">Proyectos</a></li>
    <li><a class="dropdown-item" href="#skills">Skills</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
  </ul>
</div>


<div id="mobile-menu-open" class="shadow-large">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<!-- End #mobile-menu-toggle -->


<div id="lead">
  <div id="lead-content">
    <!--<h1>{{nombreApellidoDOM.value}}</h1>-->
    <!--Este es un property binding angular de la forma mas resumida posible-->
    <!--Introduce nombre y apellido: <input type="text" #nombreApellidoDOM (keyup)="0" [disabled]="habilitarCuadroNombre"/>-->
    <h1>{{nombreApellido}}</h1>
    <!--banana in box mas la propiedad que vamos a manipular en este caso 
    nombreApellido entre comillas y sin interpolacion y tenemos que importar FormsModule en app.module.ts-->
    Introduce nombre y apellido: <input type="text" [(ngModel)]="nombreApellido">

    <!-- el archivo va del template al ts
    Introduce nombre y apellido: <input type="text" (input)="cambiaNombreYApellido($event)">
      -->
    <h4>Edad: {{edad}}</h4>
    <!--
    <h4>Edad: {{ edad < 18 ? "Menor de Edad": "Mayor de edad"}}</h4>
    -->
    <h4>{{titulo}}</h4>
    <h5>{{descripcion}}</h5>
    <h6>Email: {{email}}</h6>
    <h6>Número de celular: {{celular}}</h6>
    <br>
    <h6>{{tituloRegistroDeUsuario}}</h6>
    <br>
    {{textoDeRegistroUsuario}}
    <br>
    Registrado: <input type="radio" value="si" name="nRegistro" id="registro" [checked]="usuarioRegistrado" (click)="setUsuarioRegistrado($event)">
    <br>
    No Registrado: <input type="radio" value="no" name="nRegistro" (click)="setUsuarioRegistrado($event)">
    
    <!--Se encarga de ver si el usuario esta o no registrado-->
    {{getRegistroUsuario()}}


    <!--
    Introduce nombre y apellido: <input type="text" #nombreApellidoDOM/>
    <br>
    <br>
    <input 
      type="button" 
      value="Agregar" 
      (click)="agregaNomApellido(nombreApellidoDOM.value)" 
    />
    -->

  </div>
</div>



