<h2 
  id="experience"
  class="titulo-experiencia"
>{{tituloExperiencia}}</h2>

<div class="education-block">
  <h5>Empresa: {{lugarEmpresa}}</h5>
    <ul>
      <li>Sector: {{sectorPuesto}}</li>
      <li>Fecha inicio: {{fechaInicio}}</li>
      <li>Fecha fin: {{fechaFin}}</li>
      <li>Responsabilidades : {{descripcionResponsabilidades}}</li>
    </ul>
</div>

<div class="education-block">
  <h5>CMR Falabella</h5>
  <ul>
    <li>Sector Ventas y Administración</li>
    <li>2008-2012</li>
    <li>Asesor comercial - Supervisor</li>
  </ul>
</div>
  <!--
      <h3>Lista ordenada con números:</h3>
      <ol>
          <li>Edificio</li>
          <li>Casa</li>
          <li>Estadio</li>
      </ol>
      -->
  <!--
      <h3>Lista ordenada con letras:</h3>
      <ol type="a">
          <li>Edificio</li>
          <li>Casa</li>
          <li>Estadio</li>
      </ol>
      -->
