/* You can add global styles to this file, and also 
import other style files */

body {
  padding: 1em 2em 3em 4em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  color: rgb(241, 233, 240);
}

/*
.section-one {
    background-color: black;
    background-size:cover;
    height: 100%;
    width: 100% ;
    text-align: center;

}
*/
/*
.experiencia-backgr{
    background-color:black;
}
*/


.education-block {
    background-color: black;
}
   
.education-block{max-width:700px;margin:0 auto 30px auto;padding:15px;border:5px solid #5e8b43e1;text-align:left}.education-block h3{font-weight:500;float:left;margin:0;color:#f1f4f8}.education-block span{color:#e4eaef;float:right}.education-block h4{color:#eaeff4;clear:both;font-weight:500;margin:0 0 15px 0}.education-block p,.education-block ul{margin:0;color:#f4f6f8;font-size:0.9em}.education-block ul{padding:0 0 0 15px}


#imagen-alura {
    float:left;
    margin-right: 10px;

}

.titulo-del-proyecto {
    text-align: center;
    margin-bottom: 20px;
}

#lista1 li {
     display:inline;
     padding-left:3px;
     padding-right:3px;
}

nav {
    margin-top: 20px;
    text-align: center;
}

.session {
    margin: 10px;
}


#skills{padding:50px 15px;text-align:center;}
#skills h2{color:#f207cf;margin-bottom:50px}
#skills ul{display:block;margin:0 auto;padding:0;max-width:800px}
#skills li{display:inline-block;margin:7px;padding:5px 10px;color:#eaecf2;background:#000000;list-style:none;cursor:default;font-size:1.2em}

p {
    color: rgb(14, 1, 1);
}

footer{text-align:center}

h5 {
    color: #eaeff4;
    text-align: center;
}

#carousel-color {
    background-color: #0b000a;
    
}


